<% unless params.valid? %>
  <div class="errors">
    <p class="alert alert-danger" role="alert">There was a problem with your submission</p>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% else %>
	<% if cities.count > 0 %>
	  <div id="cities">
	  	<p class="alert alert-warning" role="alert">Duplicate cities found! Please select a specific location:</p>
	    <% cities.each do |city| %>
	      <ul class="city">
	        <li><a href="/weather/temperature?id=<%= city.id %>"><%= city.name %> <%= city.latitude %>,<%= city.longitude %></a></li>
	      </ul>
	    <% end %>
	  </div>
	<% else %>

	  <p class="alert alert-danger" role="alert">Failed to find city named <%= params[:city][:name] %>.</p>
	<% end %>
<% end %>
<a href="/weather">Back to Search</a>